html
{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}


body
{
	background-color: #121;
	background-image: url('background.png');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: right top;
	
	color: white;
}

#clickme
{
	width: 150px;
	height: 150px;

	margin: 0 auto;
	padding: 10px;
	
	border-radius: 150px;
	
	cursor: pointer;
	
	-webkit-user-select: none;
	-moz-user-select: none;

	background: #1a82f7;
	background: -moz-radial-gradient(circle, #1a82f7, #2F2727);
	background: -webkit-gradient(radial, center center, 0, center center, 460, from(#1a82f7), to(#2F2727));
	background: -webkit-radial-gradient(circle, #1A82F7, #2F2727);
	background: radial-gradient(circle, #1A82F7, #2F2727);

	box-shadow: 0 0 100px aqua;
}

#clickme:active
{
	background: #1af782;
	background: -moz-radial-gradient(circle, #1af782, #2F2727);
	background: -webkit-gradient(radial, center center, 0, center center, 460, from(#1af783), to(#2F2727));
	background: -webkit-radial-gradient(circle, #1AF782, #2F2727);
	background: radial-gradient(circle, #1AF782, #2F2727);
}

table
{
	font-size: 16pt;
	width: auto;
	margin: 0 auto;
	border-collapse: collapse;
	border: 2px solid grey;
	width: 66%;
	color: black;
}

td.score
{
	width: 50px;
	text-align: right;
}

td
{
	padding: 2px;
	text-align: left;
}

td:first-child
{
	padding-left: 35px;
}

td:last-child
{
	padding-right: 35px;
}

tr>td
{
	background: rgba(255, 255, 255, 0.5);
}

tr:nth-child(2n)>td
{
	background: rgba(200, 200, 200, 0.5);
}

td.my-score
{
	background-color: rgba(255,128,32,0.5) !important;
}

td.not-public
{
	border-top: 1px grey solid;
}
